body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://th.bing.com/th/id/OIP.48G5N19ZVWtdkjjsYNj3cwHaGk?pid=Api&rs=1);
    background-repeat: no-repeat;
    background-size: 3000px 3500px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(247, 245, 250);
  }
  /* What kind of selector is this? */
  .logo {
    width: 400px;
    height: 300px;
    margin: 3% 10%;
  }
 
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }
 
  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
 
  /* This is an element within and element selector */ 
  nav > a {
    margin: 5% 5% 5%;
    height: 15%;
    width: 20%;
    color: rgb(247, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px;
    text-align: center;
    
  }
 
  .has-color1 {
    background-color: rgba(233, 233, 241, 0.651)
  }
  .has-color2 {
      background-color: rgba(37, 19, 201, 0.267)
  }
  .has-color3 {
      background-color: rgba(233, 233, 241, 0.651)
  }
  .has-color4 {
      background-color: rgba(37, 19, 201, 0.267)
  }
  
 
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }
  /* This is an ID selector */
  #profile-pic {
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin: 15% auto;
    grid-column: 2/3;
  }
 
  h1 {
    color:rgb(245, 244, 244);
    grid-column: 2/3;
    margin: 3% auto;
    
  }
 
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
    color: white;
  }
 
  .small-text {
    grid-column: 2/3;
    color: rgb(252, 246, 246);
    font-size: 10px;
    margin: 3% auto;
  }
 
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    height: 120%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 0px;
    background: transparent;
    padding: 20px;
    padding-bottom: 5%;
    text-align: center;
    color: rgb(245, 247, 252);
    letter-spacing: 14px;
    font-style: bold;
  }